@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.top {
  background: #e53a47;
  height: 34px;
}
.logo {
  text-align: left;
  line-height: 90px;
  height: 34px;
  margin-top: 0px;
}
.topMenu {
  width: 1025px;
  font-size: 12px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.topMenu ul {
  float: right;
}
.top .topMenu li {
  float: left;
}
.top .topMenu li a {
  color: #fff;
  padding: 10px;
  padding-left: -1px;
  line-height: 34px;
}
.top .topMenu li a:after {
  content: "|";
  color: rgba(252, 245, 245, 0.932);
  padding: 0 3px;
}
.top .topMenu li:last-child a:after {
  content: "";
}
.top .topMenu li {
  float: left;
}
.bnn {
  background-color: #ddd;
  height: 330px;
}
.bn {
  font-size: 0;
  width: 1045px;
  margin: 0 auto;
  background-color: #ddd;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cycle-side-active {
  position: fixed;
}
.cycle {
  position: absolute;
  top: 0px;
  left: 0px;
}
#cycle1 {
  top: -314px;
  left: 840px;
  z-index: 1;
}
#cycle2 {
  top: -314px;
  left: 840px;
  z-index: 2;
}
.cycle-slide {
  position: relative;
  left: 0px;
  z-index: 50;
  visibility: visible;
  opacity: 1;
  display: block;
}
.cycle-slide .cycle-slide-active {
  position: absolute;
  top: 0px;
  left: 28.3607px;
  z-index: 49;
  visibility: visible;
  opacity: 1;
  display: block;
}
.cycle-slidee {
  position: relative;
}
.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#top-slide-prev {
  left: 10px;
}
#top-slide-next {
  right: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 380px;
  width: 1045px;
}
.img {
  width: 1045px;
  margin: 0 auto;
  padding-top: 30px;
  letter-spacing: 10px;
}
.img ul li {
  width: calc(100% / 4);
  text-align: center;
  float: left;
}
.container {
  display: flex;
  width: 1045px;
  margin: 0 auto;
  padding-top: 30px;
}
.container > div > div {
  float: left;
}
.container > div > div:last-child {
  width: 341px;
}
.event-text {
  margin-right: 10px; /* 텍스트와 이미지 사이의 간격을 조절할 수 있습니다. */
  width: 100px;
}
.event-image {
  width: 341px; /* 이미지의 너비를 조절할 수 있습니다. */
  cursor: pointer; /* 포인터 커서를 사용하여 클릭 가능함을 표시합니다. */
}
.gonggi {
  width: 500px;
  float: right;
  margin-left: 70px;
}
.speedad_logo.jpg {
  text-decoration: none;
  float: left;
}
.item {
  font-size: 20px;
  width: 390px;
  float: right;
  line-height: 35px;
}
.speedad_logo.jpg .item {
  float: left;
}

/* 스타일을 직접 지정하는 경우 */
/* .custom-size {
  font-size: 25px; 원하는 크기로 조절
} */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* 최소 높이를 화면 높이만큼 설정합니다. */
  display: flex;
  flex-direction: column;
}
.rectangle-box {
  width: 1045px;
  height: 50px;
  margin: auto;
  background-color: #babc1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 50%; /* 왼쪽으로부터 50% 위치로 설정합니다. */
  transform: translateX(
    -50%
  ); /* 가운데 정렬을 위해 50%만큼 좌측으로 이동시킵니다. */
}
