.e17_7 {
  color: rgba(0, 0, 0, 1);
  width: 519px;
  height: 29px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

/* Rectangle 32 */

position: absolute;
width: 313px;
height: 191px;
left: calc(50% - 313px / 2 - 477.5px);
top: 1268px;

background-image: url(images/imprint-418593_1280.jpg);
opacity: 0.8;
border: 3px solid #acbeff;

/* Rectangle 41 */

position: absolute;
width: 314px;
height: 41px;
left: calc(50% - 314px / 2 - 477px);
top: 1459px;

background: #c4c4c4;
opacity: 0.8;
border: 3px solid #acbeff;

/* Rectangle 44 */

position: absolute;
width: 316px;
height: 40px;
left: calc(50% - 316px / 2 - 478px);
top: 1695px;

background: #c4c4c4;
opacity: 0.8;
border: 3px solid #acbeff;

/* business-card-943997_1280 1 */

position: absolute;
width: 316px;
height: 191px;
left: 640px;
top: 1268px;

background: url(images/business-card-943997_1280.jpg);
border: 3px solid #acbeff;

/* business-card-943997_1280 3 */

position: absolute;
width: 316px;
height: 40px;
left: 640px;
top: 1695px;

background: rgba(227, 227, 227, 0.768627);
border: 3px solid #acbeff;

/* business-card-943997_1280 4 */

position: absolute;
width: 316px;
height: 41px;
left: 640px;
top: 1459px;

background: rgba(227, 227, 227, 0.768627);
border: 3px solid #acbeff;

/* Rectangle 2 */

position: absolute;
width: 179px;
height: 887px;
left: 320px;
top: 0px;

background: #acbeff;

/* Rectangle 16 */

box-sizing: border-box;

position: absolute;
width: 1097px;
height: 487px;
left: 499px;
top: 487px;

background-image: url(images/background-2687925_1920.jpg);
border: 1px solid #d4d4d4;
transform: matrix(1, 0, 0, -1, 0, 0);

/* 오늘은 어떤 걸 디자인할까요? */

position: absolute;
width: 202px;
height: 27px;
left: 696px;
top: 377px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

/* 070-0707-0707 */

position: absolute;
width: 119px;
height: 27px;
left: 367px;
top: 822px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

color: #000000;

/* Some Design@naver.com */

position: absolute;
width: 119px;
height: 19px;
left: 367px;
top: 860px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;

/* 자알 찍고~ */

position: absolute;
width: 380px;
height: 58px;
left: 754px;
top: 174px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 39px;

color: #000000;

/* 자알 제작하자~ */

position: absolute;
width: 380px;
height: 58px;
left: 754px;
top: 228px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 39px;

color: #000000;

/* Some Design */

position: absolute;
width: 121px;
height: 18px;
left: 367px;
top: 803px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

color: #000000;

/* Rectangle 34 */

box-sizing: border-box;

position: absolute;
width: 366px;
height: 222px;
left: 499px;
top: 487px;
/* background-image: url(images/birkenstock/visual.png); */
background-image: url(images/business-idea-2988085_1280.jpg);
background-image: url(images/Example-9.png);
background-blend-mode: darken;
border: 2px solid #acbeff;

/* Rectangle 37 */

box-sizing: border-box;

position: absolute;
width: 366px;
height: 178px;
left: 865px;
top: 887px;

background: #fcf7f7;
border: 2px solid #acbeff;
transform: rotate(180deg);

/* Rectangle 23 */

position: absolute;
width: 316px;
height: 192px;
left: 640px;
top: 1694px;

background: url(images/booklet-448244_1280.jpg);
border: 3px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 33 */

position: absolute;
width: 316px;
height: 192px;
left: 326px;
top: 1694px;

background: url(images/business-card-318425_1280.jpg);
border: 3px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 35 */

box-sizing: border-box;

position: absolute;
width: 365px;
height: 222px;
left: 865px;
top: 487px;

background: rgba(252, 247, 247, 0.85);
border: 2px solid #acbeff;

/* Rectangle 24 */

position: absolute;
width: 316px;
height: 191px;
left: 953px;
top: 1268px;

background: url(images/table-5441661_1280.jpg);
border: 3px solid #acbeff;

/* Rectangle 42 */

position: absolute;
width: 316px;
height: 41px;
left: 953px;
top: 1459px;

background: #c4c4c4;
border: 3px solid #acbeff;

/* Rectangle 45 */

position: absolute;
width: 316px;
height: 40px;
left: 953px;
top: 1695px;

background: #c4c4c4;
border: 3px solid #acbeff;

/* Rectangle 25 */

position: absolute;
width: 316px;
height: 192px;
left: 953px;
top: 1694px;

background: url(images/notebook-258310_1280.jpg);
border: 3px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 36 */

box-sizing: border-box;

position: absolute;
width: 367px;
height: 222px;
left: 1229px;
top: 709px;

background: #fcf7f7;
border: 2px solid #acbeff;
border-radius: 0px;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 39 */

box-sizing: border-box;

position: absolute;
width: 366px;
height: 178px;
left: 1229px;
top: 887px;

background: #fcf7f7;
border: 2px solid #acbeff;
border-radius: 0px 18px 0px 0px;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 26 */

position: absolute;
width: 316px;
height: 191px;
left: 1584px;
top: 1459px;

background: url(images/business-card-943996_1280.jpg);
opacity: 0.85;
border: 3px solid #acbeff;
transform: rotate(180deg);

/* Rectangle 43 */

position: absolute;
width: 316px;
height: 41px;
left: 1268px;
top: 1500px;

background: #e3e3e3;
opacity: 0.85;
border: 3px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 46 */

position: absolute;
width: 316px;
height: 40px;
left: 1268px;
top: 1735px;

background: #e3e3e3;
opacity: 0.85;
border: 3px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 27 */

position: absolute;
width: 316px;
height: 192px;
left: 1268px;
top: 1694px;

background: url(images/sleds-5742219_1280.jpg);
border: 3px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Frame 5 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 130px;

/* Frame 6 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 186px;

/* Frame 7 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 242px;

/* Frame 8 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 299px;

/* Frame 9 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 356px;

/* Frame 10 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 412px;

/* Frame 11 */

position: absolute;
width: 166px;
height: 63px;
left: 332px;
top: 468px;

/* Rectangle 13 */

position: absolute;
width: 98px;
height: 432px;
left: 1471px;
top: -2px;

background: #5a3fff;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 10px;

/* Rectangle 14 */

position: absolute;
width: 98px;
height: 464px;
left: 1471px;
top: 22px;

background: #ffffff;
box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* qo_icon04 1 */

position: absolute;
width: 39px;
height: 49px;
left: 1500px;
top: 147px;

background: url(qo_icon04.png);

/* qo_icon02 1 */

position: absolute;
width: 51px;
height: 37px;
left: 1496px;
top: 342px;

background: url(qo_icon02.png);

/* qo_icon01 1 */

position: absolute;
width: 45px;
height: 48px;
left: 1494px;
top: 52px;

background: url(qo_icon01.png);

/* 시안확인 */

position: absolute;
width: 48px;
height: 16px;
left: 1496px;
top: 205px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */
text-align: center;

color: #000000;

/* 인쇄물 주문하기 */

position: absolute;
width: 79px;
height: 16px;
left: 1481px;
top: 106px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */
text-align: center;
letter-spacing: -0.1em;

color: #000000;

/* 오프라인주문 */

position: absolute;
width: 72px;
height: 16px;
left: 1484px;
top: 387px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */
text-align: center;

color: #000000;

/* 최근본 상품 > */

position: absolute;
width: 81px;
height: 18px;
left: 1482px;
top: 435px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: rgba(0, 0, 0, 0.65);

/* < > */

position: absolute;
width: 60px;
height: 16px;
left: 1491px;
top: 459px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: rgba(0, 0, 0, 0.65);

/* 로그인 | 회원가입 | 고객센터 | 견적문의 | 마이페이지 */

position: absolute;
width: 519px;
height: 29px;
left: 624px;
top: 64px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* Rectangle 15 */

box-sizing: border-box;

position: absolute;
width: 471px;
height: 40px;
left: calc(50% - 471px / 2 - 118.5px);
top: 19px;

background: #ffffff;
border: 2px solid #b8b6b6;

/* ▼ 상품명 or 상품번호 입력 */

position: absolute;
width: 335px;
height: 29px;
left: 647px;
top: 28px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: rgba(0, 0, 0, 0.7);

/* ◀ ▶ */

position: absolute;
width: 302px;
height: 24px;
left: 651px;
top: 1370px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #8a8686;

/* ◀ ▶ */

position: absolute;
width: 302px;
height: 24px;
left: 331px;
top: 1370px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #ccc7c7;

/* ◀ ▶ */

position: absolute;
width: 302px;
height: 26px;
left: 655px;
top: 1589px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #ebebeb;

/* ◀ ▶ */

position: absolute;
width: 302px;
height: 26px;
left: 337px;
top: 1589px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #8a8686;

/* ◀ ▶ */

position: absolute;
width: 301px;
height: 24px;
left: 967px;
top: 1370px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #8a8686;

/* ◀ ▶ */

position: absolute;
width: 316px;
height: 26px;
left: 962px;
top: 1589px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #8a8686;

/* ◀ ▶ */

position: absolute;
width: 298px;
height: 24px;
left: 1281px;
top: 1370px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #8a8686;

/* ◀ ▶ */

position: absolute;
width: 316px;
height: 26px;
left: 1284px;
top: 1589px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #dfd8d8;

/* desktop_searchbox_sprites318_hr 2 */

position: absolute;
width: 28px;
height: 33px;
left: 1020px;
top: 22px;

background: url(images/desktop_searchbox_sprites318_hr.png);

/* Line 1 */

position: absolute;
width: 79px;
height: 0px;
left: 1481px;
top: 426px;

border: 0.1px solid #000000;

/* Rectangle 19 */

position: absolute;
width: 555px;
height: 51px;
left: 677px;
top: 926px;

background: #f8f9ec;
border-radius: 14px;

/* Rectangle 20 */

position: absolute;
width: 555px;
height: 51px;
left: 677px;
top: 986px;

background: #f8f9ec;
border-radius: 14px;

/* Rectangle 21 */

position: absolute;
width: 555px;
height: 51px;
left: 677px;
top: 1046px;

background: #f8f9ec;
border-radius: 14px;

/* Some Design */

position: absolute;
width: 392px;
height: 135px;
left: 600px;
top: 295px;

/* Personas */

position: absolute;
width: 419.66px;
height: 331px;
left: 1018px;
top: 82px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

/* just */

position: absolute;
width: 173.58px;
height: 95.04px;
left: 609px;
top: 155px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 65px;
line-height: 76px;

color: #2c58f2;

opacity: 0.7;

/* Line 2 */

position: absolute;
width: 408px;
height: 0px;
left: 623px;
top: 218px;

border: 0.7px solid #4d71f4;

/* Vector */

position: absolute;
left: 17.45%;
right: 81.2%;
top: 42.56%;
bottom: 56.29%;

background: #000000;

/* Rectangle 31 */

position: absolute;
width: 732px;
height: 12px;
left: 864px;
top: 493px;

background: radial-gradient(
  50% 50% at 50% 50%,
  #1a2ccc 0%,
  rgba(255, 255, 255, 0) 100%
);
transform: matrix(1, 0, 0, -1, 0, 0);

/* Line 3 */

position: absolute;
width: 148px;
height: 0px;
left: 338px;
top: 802px;

border: 0.5px solid rgba(0, 0, 0, 0.65);

/* Group 1 */

position: absolute;
width: 179.07px;
height: 112px;
left: 320px;
top: 0px;

/* Group 2 */

position: absolute;
width: 174.96px;
height: 178.23px;
left: 1420.6px;
top: 708.83px;

transform: matrix(1, 0, 0, 1, 0, 0);

/* question-mark-1019759_1280 1 */

position: absolute;
width: 52px;
height: 111px;
left: 1293px;
top: 717px;

background: url(images/question-mark-1019759_1280.jpg);
mix-blend-mode: darken;

/* icon-347234_1280 1 */

position: absolute;
width: 30px;
height: 26px;
left: 332px;
top: 852px;

background: url(images/icon-347234_1280.png);
mix-blend-mode: lighten;

/* 고객에 적합한 서비스 */

position: absolute;
width: 359px;
height: 46px;
left: 897px;
top: 1059px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;

color: #000000;

/* 창조적인 아이디어 */

position: absolute;
width: 359px;
height: 46px;
left: 897px;
top: 1000px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;

color: #000000;

/* 다양한 제작 */

position: absolute;
width: 359px;
height: 46px;
left: 897px;
top: 939px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;

color: #000000;

/* Ellipse 1 */

position: absolute;
width: 33px;
height: 34.03px;
left: 834px;
top: 935px;

background: url(images/apps-6183062_1280.png);

/* Ellipse 2 */

position: absolute;
width: 33px;
height: 34.03px;
left: 834px;
top: 994px;

background: url(images/apps-6183062_1280.png);

/* Ellipse 3 */

position: absolute;
width: 33px;
height: 34.03px;
left: 834px;
top: 1054px;

background: url(images/apps-6183062_1280.png);

/* business-card-1015416_1280 1 */

position: absolute;
width: 293px;
height: 202px;
left: 1267px;
top: 499px;

background: url(images/business-card-1015416_1280.jpg);
mix-blend-mode: plus-darker;

/* business-card-1015416_1280 3 */

position: absolute;
width: 292px;
height: 202px;
left: 905px;
top: 499px;

background: url(images/business-card-1015416_1280.jpg);
mix-blend-mode: plus-darker;

/* <갤러리 바로가기> */

position: absolute;
width: 187px;
height: 29px;
left: 964px;
top: 616px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* <공지사항 바로가기> */

position: absolute;
width: 188px;
height: 29px;
left: 1321px;
top: 609px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* 문의 게시판 */

position: absolute;
width: 138px;
height: 29px;
left: 1280px;
top: 838px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* top_img_slidebn1-1 1 */

position: absolute;
width: 149px;
height: 171px;
left: 1058px;
top: 716px;

background: url(images/top_img_slidebn1-1.jpg);

/* top_img_slidebn2-1 1 */

position: absolute;
width: 141px;
height: 173px;
left: 888px;
top: 710px;

background: url(images/top_img_slidebn2-1.jpg);

/* rightwing_bn 1 */

position: absolute;
width: 104px;
height: 115px;
left: 358px;
top: 641px;

background: url(images/rightwing_bn.jpg);

/* top_btn_link1 1 */

position: absolute;
width: 76px;
height: 76px;
left: 639px;
top: 772px;

background: url(images/top_btn_link1.png);

/* top_btn_link2 1 */

position: absolute;
width: 76px;
height: 76px;
left: 751px;
top: 772px;

background: url(images/top_btn_link2.png);

/* top_btn_link3 1 */

position: absolute;
width: 76px;
height: 76px;
left: 531px;
top: 772px;

background: url(images/top_btn_link3.png);

/* top_btn_favo 1 */

position: absolute;
width: 361px;
height: 34px;
left: 502px;
top: 710px;

background: url(images/top_btn_favo.png);

/* Rectangle 40 */

box-sizing: border-box;

position: absolute;
width: 183px;
height: 178px;
left: 865px;
top: 887px;

border: 2px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Rectangle 47 */

box-sizing: border-box;

position: absolute;
width: 183px;
height: 178px;
left: 1047px;
top: 887px;

border: 2px solid #acbeff;
transform: matrix(1, 0, 0, -1, 0, 0);

/* order_img_1_on 1 */

position: absolute;
width: 188.62px;
height: 110.99px;
left: 492px;
top: 1142px;

background: url(images/order_img_1_on.jpg);

/* order_img_2_on 1 */

position: absolute;
width: 188.62px;
height: 110.99px;
left: 680.62px;
top: 1142px;

background: url(images/order_img_2_on.jpg);

/* order_img_3_on 1 */

position: absolute;
width: 188.62px;
height: 110.99px;
left: 869.23px;
top: 1142px;

background: url(images/order_img_3_on.jpg);

/* order_img_4_on 1 */

position: absolute;
width: 188.62px;
height: 110.99px;
left: 1057.85px;
top: 1142px;

background: url(images/order_img_4_on.jpg);

/* order_img_5_on 2 */

position: absolute;
width: 188.62px;
height: 110.99px;
left: 1245.38px;
top: 1142px;

background: url(images/order_img_5_on.jpg);

/* images 1 */

position: absolute;
width: 67px;
height: 67px;
left: 1486px;
top: 236px;

background: url(images/images.png);

/* 카드결재 */

position: absolute;
width: 48px;
height: 16px;
left: 1496px;
top: 296px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */
text-align: center;

color: #000000;

/* Rectangle 31 */

position: absolute;
width: 732px;
height: 12px;

background: radial-gradient(
  50% 50% at 50% 50%,
  rgba(26, 44, 204, 0.75) 0%,
  rgba(255, 255, 255, 0) 100%
);
transform: matrix(1, 0, 0, -1, 0, 0);
